/* ---- Base Element Styles ----*/

* {
    box-sizing: borer-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}


/* ---- Header/Top-bar/Navigation ----*/
.header {
    position: fixed;
    width: 100%;
}
.top-bar {
    background-color: #2d2a2d;
    color: #b5aec4;
    height: 55px;
    text-transform: uppercase;
}
.dropdown-item {
    text-transform: none;
}


.main-nav-bar {
    box-shadow: 0 0 16px rgba(0, 0, 0, .4);
}
.category-nav {
    width: auto;
    height: 75px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}
.category-nav a {
    margin-left:7px;
}
